[2016-02-16 22:35] mreschke opened #27 "Mail requires npm 'got' module"
Cant find where mentioned, but when you follow your http://adonisjs.com/docs/2.0/mail doc, it complains about `{ [Error: Cannot find module 'got'] code: 'MODULE_NOT_FOUND' }`

Of course installing `got` fixes the issue, but may want to note it in doc ??

[2016-02-17 07:40] thetutlage commented on #27
Agree, will update docs right now

[2016-02-17 07:51] #27 closed

[2016-02-17 13:38] mreschke opened #28 "Mail.send wrong parameters"
In the docs you have `yield Mail.send('emails/welcome', function (message) {` but when I do that, I get `callback must be a function` error, because it is expecting the callback to be the 3rd paramaters, not the second.

`* send (view, data, callback, config) {`

Not sure what data (view merge fields?).  I just put `yield Mail.send('emails/test', '', function(message) {` as a test and it worked.

[2016-02-17 15:37] thetutlage commented on #28
Yes data is used for dynamic values inside views, will fix the docs

[2016-02-17 15:58] thetutlage commented on #28
Fixed

[2016-03-29 14:48] #28 closed

[2016-06-28 10:24] erkan1991 opened #38 "Getting started tutorial validation fails when posting data"
Hi,

When following the Getting Started tutorial i have encountered an error. The form inputs were not validating due to incorrect syntax in docs.

The `postData` and `rules` should be the other way round.
<img width="640" alt="screen shot 2016-06-28 at 8 13 51 pm" src="https://cloud.githubusercontent.com/assets/7500305/16412089/c4dab194-3d6d-11e6-9e26-e51d74275865.png">

Correct syntax:
`const va

[2016-06-28 10:55] thetutlage commented on #38
Thanks going to fix it

[2016-06-29 11:14] thetutlage commented on #38
Done and deployed

[2016-06-29 11:14] #38 closed

[2016-07-02 01:22] rkrishnamoorthy opened #41 "http://adonisjs.com/docs/3.0/seeds-and-factories"
Hi,
Just noticed this and saving it for a pull request later. faker.email and everything following should be fake.email() ....

[code]

[2016-07-03 00:06] thetutlage commented on #41
Can u create a PR for same?

[2016-07-03 01:25] rkrishnamoorthy commented on #41
In the Seeds-and-factories.md file, it seems to have been already fixed but website seems to show the above error.
Could you please check ?

From the latest file seeds-and-factories.md

[code]

[2016-07-04 08:36] RomainLanz commented on #41
This has been corrected here https://github.com/adonisjs/docs/commit/dbe18784c806c321ac65b82bcdfcbb623219ae50

The website will be updated soon.

[2016-07-04 09:09] rkrishnamoorthy commented on #41
Looks fixed on the site

[2016-07-04 09:09] #41 closed

[2016-07-11 04:34] andrewdelprete opened #47 "Docs for 'Providers'"
I'd love to see how to add custom Providers. Is there any plan to write docs for this?

Thank you!

[2016-07-11 06:51] thetutlage commented on #47
I am planning to write a cookbook on how IoC container and Service providers work. Added to the trello board and will complete it soon.

[2016-07-18 23:12] turlup opened #48 "Seeds and factories"
Hi,

Thanks for this Node.js MVC Framework. I am very glad I found.

[http://www.adonisjs.com/docs/3.0/seeds-and-factories](http://www.adonisjs.com/docs/3.0/seeds-and-factories)

#each(callback)
[code]
=> TypeError: users.each is not a function

When I change by
[code]
=> TypeError: user.posts is not a function

With post model
[code]
any ideas ?

Cheers,

[2016-07-19 06:28] thetutlage commented on #48
`create` is an async method, so you need to `yield` it.

[code]

[2016-07-19 06:31] thetutlage commented on #48
Closing the issue. Feel free to create a new issue if you are stuck with anything.

[2016-07-19 06:31] #48 closed

[2016-07-19 07:07] turlup commented on #48
lots of thanks; my first step on es2015 ...

[2016-07-28 02:00] franzsilva opened #55 "Publishing to site"
Hey @thetutlage, any reason why the docs I created don't show on the site? Or am i missing something?

[2016-07-28 04:05] thetutlage commented on #55
Docs are deployed once in a day and I can see it on website now.

[2016-07-28 04:05] #55 closed

[2016-09-02 17:04] mertindervish opened #59 "Images from relationships.md are not accessible"
Hi. It seems like your images in `3.0/models/relationships.md` are no longer accessible. Can you reupload them, please. Thanks for the beautiful framework :+1:

![untitled](https://cloud.githubusercontent.com/assets/7361642/18211799/34744f0c-7148-11e6-9ff0-43bc84eb6a62.png)

[2016-09-02 17:31] thetutlage commented on #59
Fixed and deployed http://adonisjs.com/docs/3.0/relationships.

Thanks for reporting

[2016-09-02 17:31] #59 closed

[2016-09-20 10:46] ntvsx193 opened #67 "Bug on view table"
http://adonisjs.com/docs/3.0/lucid#table

![screeenshot](http://monosnap.zanozahost.ru/2016-09-20_13-45-05_mfyys.png)

[2016-09-20 11:21] #67 closed

[2016-10-05 18:40] thetutlage opened #70 "Typo in docs"
@navdeepsingh commented on [Wed Oct 05 2016](https://github.com/adonisjs/adonis-framework/issues/301)

![has many through_vux5jm jpg 900x220](https://cloud.githubusercontent.com/assets/2968787/19102531/8af321ea-8aee-11e6-8920-cf34816d54ab.png)

Ref: http://www.adonisjs.com/docs/3.0/relationships

---

@thetutlage commented on [Thu Oct 06 2016](https://github.com/adonisjs/adonis-framework/issues/30

[2016-10-18 17:12] thetutlage commented on #47
Docs have been added to 3.1
http://adonisjs.com/docs/3.1/ioc-container

[2016-10-18 17:12] #47 closed

[2016-10-24 11:30] mastito03 opened #73 "Documentation page doesn't have title"

[2016-11-14 15:34] Maxximus007 commented on #70
Started reading the docs (goood! thanks for that!), found some tiny thingies:
- In Routing: HTTP verbs, there is a small list of supported verbs, but in the route example you use 2 different methods, might confuse ppl.
- In Controllers: UserController and User**s**Controller mixed.

[2016-11-16 10:45] Maxximus007 opened #80 "UserController vs UsersController"
I see a mixed use of UserController and User**s**Controller in the docs, probably depending on time written. I believe the convention is UserController (singular). Might be good to correct it for clarity.

[2016-11-16 10:50] RomainLanz commented on #80
Will upgrade it, thanks. 👍

[2016-11-18 10:36] thetutlage commented on #73
Fixed. Thanks for reporting

[2016-11-18 10:36] #73 closed

[2016-11-19 23:59] nrempel opened #83 "Add redis session driver config docs"
It was not clear to me that the redis config for the redis session driver needs to go in `config.session.redis`. I was putting it in `config.redis` as per the redis docs.

[2016-11-20 00:04] nrempel commented on #83
This was difficult to debug because there was no feedback that it was failing. Related issue here: https://github.com/adonisjs/adonis-redis/issues/1

[2016-11-20 06:45] thetutlage commented on #83
PR?

[2016-11-20 18:54] ctf0 commented on #70
http://adonisjs.com/docs/3.1/routing#_as_name
[code]

[2016-11-20 21:45] nrempel commented on #83
Should have time this afternoon!

On Sat, Nov 19, 2016 at 10:45 PM, Harminder Virk <notifications@github.com> wrote:
PR?

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub [https://github.com/adonisjs/docs/issues/83#issuecomment-261762272] , or mute the thread [https://github.com/notifications/unsubscribe-auth/AAg9kJSELh-WT-Kf8gBs1F5J_qBYaAJv

[2016-11-26 11:07] thetutlage commented on #70
Closing since done in corresponding PR

[2016-11-26 11:07] #70 closed

[2016-11-28 17:04] ctf0 opened #86 "how the user can navigate through the paginated data from "forPage""
http://adonisjs.com/docs/3.1/query-builder#_forpage_page_limit_20

[2016-11-28 18:14] thetutlage commented on #86
You should be using `paginate` for that. `forPage` is used when you do not need meta data

[2016-11-28 21:53] ctf0 commented on #86
okey, thanx

[2016-11-28 21:53] #86 closed

[2016-11-30 10:17] Chathula opened #89 "Lucid Realtionship Doc Issues"
Inside the Lucid Relationship docs, there are few errors to fix.

First one is the hasManyThrough table digram shows a wrong filed in a posts table. post_id must be changed to user_id.

[Digram Image](https://camo.githubusercontent.com/4cef1225345786a00da8d1f41821e7066c2b255a/687474703a2f2f7265732e636c6f7564696e6172792e636f6d2f61646f6e69736a732f696d6167652f75706c6f61642f76313437323834313237342f686

[2016-12-08 08:47] thetutlage commented on #83
Closing since NO PR has been created.

[2016-12-08 08:47] #83 closed

[2016-12-08 08:49] thetutlage commented on #80
Closing since there is a PR for same

[2016-12-08 08:49] #80 closed

[2017-01-19 14:57] varcorbsoftware opened #104 "Accepts example code incorrect"
http://adonisjs.com/docs/3.2/request#_content_negotiation
The Code example should be `const type = request.accepts('json', 'html')` The accepts is missing the 's'

[2017-01-19 15:44] thetutlage commented on #104
Mind creating a PR?

[2017-01-30 05:44] lmj0011 opened #109 "need more info on default Ace commands options"
There's info on how to make your own ace commands, however I'm not seeing anything that goes into more depth about the default commands. What are the options for the commands?

[code]

http://adonisjs.com/docs/3.2/interactive-shell

[2017-01-30 06:13] thetutlage commented on #109
Here are the docs http://adonisjs.com/docs/3.2/interactive-shell#_creating_your_first_command

[2017-01-30 06:49] lmj0011 commented on #109
How would I get the available **options** for the ace commands?

[2017-01-30 07:14] thetutlage commented on #109
What do you mean by available options? Is it you want to know the available options as a consumer of the command? If yes,

[code]

[2017-01-30 07:17] lmj0011 commented on #109
that's what I was looking for.

[2017-01-30 07:22] lmj0011 commented on #109
I think that should listed under usage. If you could point me to right repo, I could make a PR for this.

[code]

[2017-01-30 08:18] thetutlage commented on #109
This is the right repo and PR will be for the `develop` branch

[2017-02-24 15:34] danswater commented on #89
And also ```hasMany``` example diagram is showing ```hasOne``` example diagram.

https://github.com/adonisjs/docs/blame/develop/lucid/02-relationships.adoc#L117-L121

[2017-03-09 05:56] #104 closed

[2017-03-23 19:11] mertindervish opened #120 "Files and Nunjucks Templates links"
Hey! I've just noticed that links for 'Files' and 'Nunjucks Templates' are broken. They both open 'Files' page but content is about templates. I've no problem reading from this repo but it will be nice to be fixed, you know :smile:

![screenshot](https://cloud.githubusercontent.com/assets/7361642/24265737/2e0e543c-100d-11e7-860c-fce4080dfb6d.png)

[2017-03-23 21:23] RomainLanz commented on #120
Hey @mertindervish!

Thanks for reporting this issue! ❤️

May you create a PR?

[2017-03-24 13:15] mertindervish commented on #120
I've cloned [adonisjs/adonis-documentation](https://github.com/adonisjs/adonis-documentation) repo. When I run `npm run setup` I've got a lot of warnings from asciidoctor:
![screenshot](https://cloud.githubusercontent.com/assets/7361642/24295562/fc2a0d20-10a3-11e7-9b43-fed59775398b.png)

Btw there is no bug in 3.0's documentation. So I guess this is from docketjs's asciidoctor integration?

[2017-03-24 13:45] thetutlage commented on #120
Yes these r Warnings from asciidoctor integration

[2017-03-24 13:51] mertindervish commented on #120
Are they somehow related to buggy build for Files page? Or is it the normal behaviour?

[2017-03-27 10:30] #120 closed

[2017-04-08 07:34] thetutlage commented on #109
Related PR has been merged

[2017-04-08 07:34] #109 closed

[2017-04-17 09:18] linganmin commented on #89
We are also translating to Chinese documents also found the above problem, hasMany relationship with the picture is wrong

[2017-06-20 10:15] CodelessFuture opened #128 "Many 2 Many - Table migration"
Need to be specified in the docs:

In a many 2 many relationship **you have to create** a migration for the pivot table too.

[2017-06-25 09:00] KaelWD opened #131 ".body > .overlay CSS issues"
In chrome 59, the `.overlay` div causes a repaint when scrolling, also it has an invalid `transform` value which looks like it should be `transition` instead.

[code]

Before:
![image](https://user-images.githubusercontent.com/16421948/27514840-d4096b50-59d8-11e7-9e06-c093926ba61e.png)

After:
![image](https://user-images.githubusercontent.com/16421948/27514832-ad27295a-59d8-11e7-9b50-d2f97979fd17

[2017-06-26 16:50] thetutlage commented on #131
Thanks :)

[2017-10-02 17:24] thetutlage commented on #131
Redesigned so should be good

[2017-10-02 17:24] #131 closed

[2017-10-03 13:38] thetutlage commented on #128
Sure will take care of it

[2017-10-03 13:38] #128 closed

[2017-10-08 16:02] ncacace opened #154 "Suggestion...#Route parameter[s]"
http://dev.adonisjs.com/docs/4.0/routing
#Route parameters

You have covered a Single Parameter
You have covered a Default Value
Perhaps Multiple Parameters and default values..? The topic heading is after-all Route parameter[s] plural

Best Practice for multiple parameters Restfully maybe...?
https://stackoverflow.com/questions/2602043/rest-api-best-practice-how-to-accept-list-of-parameter-values

[2017-10-08 16:06] ncacace commented on #154
ERRATA    #Routing for SPA's
If you have any other specific routes, **they are be defined before the wildcard route**. For example:
Suggestion:  If you have any other specific routes,
- they should be defined before....
OR
- they are to be defined before....

[2017-10-08 18:51] thetutlage commented on #154
Some of your questions have obvious answers but your question seems to be like.

If you really want answers, I suggest reframing your questions please

[2017-10-08 19:59] ncacace commented on #154
?

Sir,

I refer to your previous email

"Regarding typo’s in documentation, feel free to submit PR here
https://github.com/adonisjs/docs/tree/4.0
<http://PZX9.trk.elasticemail.com/tracking/click?msgid=fl35UPWyTw6x3ibH9Hxx5w2&target=https%3a%2f%2fgithub.com%2fadonisjs%2fdocs%2ftree%2f4.0&v=Tg_ySlsYhFvbMWG3cwP43w2&lc=916668929148174460>

There are many others helping me trying to improve the docume

[2017-10-10 20:46] ncacace commented on #154
<img width="723" alt="october7" src="https://user-images.githubusercontent.com/1590147/31409236-7552f91e-ae0b-11e7-894e-9ef41ceb522f.png">

... To clarify - As you will see from your email to me YOU suggested I forward any corrections I found whilst reading your documentation to this link.

They are not questions but some requests for clarification and a correction of an obvious typo.
... Are you

[2017-10-11 08:25] RomainLanz commented on #154
Hey @ncacace 👋  !

Where do you see that?

Your first message in this issue wasn't helping everyone, you were throwing await sentence without any courtesy and without any context.

Reading

Or

isn't useful at all!

Please, describe with complete sentence and courtesy what do you want.

[2017-10-11 09:16] ncacace commented on #154
<img width="177" alt="screen shot 2017-10-11 at 10 38 46" src="https://user-images.githubusercontent.com/1590147/31430178-636bc75c-ae70-11e7-924c-23c6cbdea24a.png">
Ok - Is this you slapping me....?

Because if it is IT'S CLEAR that your purpose is not to achieve anything constructive at all which renders anything else you say redundant as your purpose is clearly confrontation.
... and more import

[2017-10-11 09:39] #154 closed

[2017-10-11 09:41] thetutlage commented on #154
What u call `slapping` is known as **Waving hand** https://emojipedia.org/waving-hand-sign/.

[2017-10-12 15:17] prog-rajkamal opened #159 "v4.0 docs??"
https://adonisjs.com/docs contain docs till v3.2.

So, where are the docs for v4.0 located?

[2017-10-12 15:20] RomainLanz commented on #159
Hey @prog-rajkamal ! 👋

Here's the link http://dev.adonisjs.com/

[2017-10-12 15:23] prog-rajkamal commented on #159
@RomainLanz thanks

[2017-10-12 15:23] #159 closed

[2017-10-19 21:30] alidcastano opened #165 "explain connection between Model Relationships and Migrations"
In the model relationship section, it reads as if when you add a new relationship, the model's operations will continue to automatically. It isn't clear that you need to create the appropriate migrations.

Also, it's important to explain what Lucid relationships do for you so that you can know what migration to create.

For example, for this relationship:

[code]

I'd expect to add the following m

[2017-10-20 15:57] RomainLanz commented on #165
Hey @alidcastano! 👋

You don't need to create an appropriate migration to add a logical relation.
If you take a look at the documentation for migration you'll see:

and if you look for Lucid's relations you found

I think this is clear of what it is doing.

Concerning your example, AdonisJs use a convention that you can override easily by specifying more parameter. Please take a look at [the docum

[2017-10-20 16:14] liam-potter opened #167 "Resource Middleware not working"
I am attempting to add multiple middleware (`['auth', 'admin']`) to a route resource that looks something like this:

[code]

The middleware should only apply to `store`, `update` and `delete` methods - the `index` and `show` methods are to be publicly available. In the documentation for Resource Middleware (http://dev.adonisjs.com/docs/4.0/routing#_resource_middleware) it has the following snippe

[2017-10-21 02:02] alidcastano commented on #165
Personally, from reading the documentation I thought that the only migrations I had to make are for properties not specified in the Model. But it makes sense that all mutations are recorded separately via migrations since the model doesn't track all the changes to the database over time.

Nonetheless, I still think I'd be great if the documentation linked these concepts. But thanks for the explana

[2017-10-21 02:02] #165 closed

[2017-10-21 14:03] thetutlage commented on #167
Yeah this map thing kind of confuses me too and that's why I documented it wrong. Going to fix it first

So it should be

[code]

[2017-10-23 17:02] thetutlage commented on #167
@liam-potter Does it work?

[2017-10-26 23:31] alidcastano commented on #165
@RomainLanz Hi, quick question in regards to your comment: if my aim is to use models with short uuids (e.g. `c2c90b39b3fe`), are strings types still not recommended?

[2017-10-27 06:43] RomainLanz commented on #165
Use an `uuid` field http://knexjs.org/#Schema-uuid

[2017-10-27 07:05] dusbuss opened #171 "Mail.raw() arguments are defined incorrectly"
In the Mail docs, `Mail.raw` says that it takes three arguments, but it doesn't appear that `raw` takes a data argument. Only a string and a callback.

Thanks!

[2017-10-27 07:33] RomainLanz commented on #171
Hey @dusbuss! 👋

Which version of Adonis are you using?

[2017-10-27 09:57] dusbuss commented on #171
Hi. I’m on Adonis 4.0.23, and in the Adonis 4 docks, it says that the `Mail.raw` method accepts three arguments, but the actual code only accepts two arguments: https://github.com/adonisjs/adonis-mail/blob/2674536d59f5c033569f40b558ac394317033e21/src/Mail/Sender.js#L150

[2017-10-27 09:57] dusbuss commented on #171
Maybe I'm writing this issue in the wrong repo?

[2017-10-27 13:09] alidcastano commented on #165
Yes but for Postgres that only works for standard, 32 digit uuids

`a0ee-bc99-9c0b-4ef8-bb6d-6bb9-bd38-0a11` versus `2e59ae0513e`

[2017-10-28 03:30] thetutlage commented on #171
Yup, need to fix the docs.

[2017-10-28 03:31] thetutlage commented on #171
Would you mind opening an issue there? so it will be easier for me to track

[2017-10-28 07:23] dusbuss commented on #171
will do

[2017-10-28 07:23] #171 closed

[2017-10-29 08:07] thetutlage commented on #167
It was docs confusion, personally tried it and it works fine.

[2017-10-29 08:07] #167 closed

[2017-11-01 06:47] benallfree opened #178 "Rename repo to adonis-docs?"
I noticed everything else is prefixed with `adonis-`, which definitely helps when sorting out my forks :)

[2017-11-01 07:03] duyluonglc opened #179 "(Validation) Unique rule and Extending Validator doc of v4 is missing"
Reference of v3.2 here
http://adonisjs.com/docs/3.2/validator#_unique_tablename_fieldname
http://adonisjs.com/docs/3.2/validator#_extending_validator
Is v4 different with v3?

[2017-11-01 09:40] wxs77577 opened #180 "Translation workflow?"
How to contribute translation?

[2017-11-01 10:17] thetutlage commented on #180
Create a new branch with the language name and version, so it will be

`fr-4.0` for french

[2017-11-01 12:36] benallfree opened #181 "Lint doc code samples?"
Maybe we could adapt this https://github.com/zeke/standard-markdown

[2017-11-01 13:07] RomainLanz commented on #181
Hey @benallfree! 👋

We aren't using Markdown for our documentation.

[2017-11-01 13:26] benallfree commented on #181
No I think it could be adapted though. Looking for a way to lint code samples.

Another idea: move code samples into .js files that can be easily linked, then include the files.

[2017-11-02 01:17] wxs77577 commented on #180
thanks

[2017-11-02 03:50] thetutlage commented on #181
It can be done but will be a lot of work with small win, since I have lot on my plate right now. I am happy if someone else wants to own this piece and happy to share my thoughts

[2017-11-02 05:33] benallfree commented on #181
"this piece" = docs? or linting

[2017-11-02 05:41] thetutlage commented on #181
Moving all code blocks to `.js`

[2017-11-06 01:25] outluch opened #184 "Doc on website is not synced with repo"
http://dev.adonisjs.com/docs/4.0/database-basics
`await ('Database').table('blog_posts').insert({ title: 'Adonis 101', body: 'some description' })`
in repo already fixed __`use`__:
`await use('Database').table('blog_posts').insert({ title: 'Adonis 101', body: 'some description' })`

[2017-11-06 09:01] thetutlage commented on #184
Yes, docs are not deployed yet.

[2017-11-06 09:02] thetutlage commented on #181
I believe there is nothing much to be done here, we can always open this issue when we have bandwidth to write code around it.

[2017-11-06 09:02] #181 closed

[2017-11-06 09:03] thetutlage commented on #179
It's a documentation bug, mind creating a PR for same?

[2017-11-06 09:04] duyluonglc commented on #179
okey man. I'll make a PR

[2017-11-06 15:01] #179 closed

[2017-11-07 02:16] thetutlage opened #187 "Document Lucid.fill and Lucid.merge methods"
The `lucid.fill` and `lucid.merge` methods has almost zero or misleading docs. Make sure to update them properly.

https://github.com/adonisjs/adonis-lucid/issues/217

[2017-11-07 18:42] #184 closed

[2017-11-08 03:45] watzon opened #190 "Add a specific "Controllers" section to HTTP Lifecycle"
It looks like controllers aren't well documented in the v4 API documentation

[2017-11-08 04:10] thetutlage commented on #190
@watzon Can u share which part you think is not there. Since I removed the entire topic of controllers from the docs, since there is nothing specific to explain.

But happy to add it back, if you can spot couple of thing

[2017-11-08 04:13] watzon commented on #190
I think it makes sense to have a controllers section, even if they don't have any super specific functionality that can't be done with a closure. It would be nice to have a place where it just shows how they're structured, how you can use them to move business logic out of the routes file, etc.

[2017-11-08 04:34] thetutlage commented on #190
Something like this? http://dev.adonisjs.com/docs/4.0/routing#_binding_controllers

[2017-11-08 05:21] thetutlage commented on #187
Already in docs. My bad :(

[2017-11-08 05:21] #187 closed

[2017-11-08 05:23] watzon commented on #190
That gives a small example, but it's kinda tucked away and doesn't show an example of request and response being used in a controller. Maybe that section could just be expounded upon though?

[2017-11-08 05:26] thetutlage commented on #190
I don't think there is really anything extra happening in Controller, they receive the same argument, but I can update the example to show how to access `request` and `response`.

In short, Controllers are classes with methods and works same as route closures. Literally giving a whole new page to this phrase will be too much.

But I am happy to add if someone can share atleast 3 missing or confusi

[2017-11-08 05:46] watzon commented on #190
I know that classes and closures in the routes are basically the same thing, but that might not be apparent to people who are new to MVC and the destructuring syntax may not be apparent either. I think just updating the example should be fine though

[2017-11-08 06:09] thetutlage commented on #190
Cool! Lemme see if I can also gather some thoughts around what are controller and how they are useful ( from beginners point of view ) and then give it a dedicated doc.

Thanks 😄

[2017-11-08 06:37] watzon commented on #190
No problem! I like thinking about how beginners would think about documentation. It makes them much more likely to use this framework, especially since a full framework like this is much easier to get started with than trying to set up an express app with models

[2017-11-08 21:38] outluch opened #193 "mobile: dropdown doesnt redirect to needed page"
tried in my android + desktop browser with narrow window. No action on choosing topic.

[2017-11-08 21:51] jacekk commented on #178
@benallfree You can seamlessly rename you docs repo to adonis-docs. Fork link will work correctly. Mine works: https://github.com/jacekk/adonisjs-docs :)

[2017-11-08 21:52] RomainLanz commented on #193
Hey @outluch! 👋

Thanks for your feedback!
I have reproduced the issue with my phone (iOS) and I also get this issue.

The issue appears on the select to change section on the documentation (see the screenshot below).

![img_6449](https://user-images.githubusercontent.com/2793951/32576482-6061d146-c4d7-11e7-843f-ab2ea82ca490.jpg)

[2017-11-10 02:38] kei0719 opened #195 "wrong namespace on View page in doc"
at [Views ##Basic example](http://adonisjs.com/docs/4.0/views#_basic_example) page has wrong namespace.

**File: docs/04-http-lifecycle/05-views.adoc**

below snippet is

[code]
should be ...

[code]

[2017-11-10 06:45] thetutlage commented on #195
Can u please share a PR for same?

[2017-11-10 06:50] thetutlage commented on #193
Fixed in https://github.com/adonisjs/adonisjs.com/commit/5d048d303da10304ef09d7df4a3a9b8b09074ac5

[2017-11-10 06:50] #193 closed

[2017-11-11 04:30] #195 closed

[2017-11-17 12:21] akusany2 commented on #167
Hi, I am having this same issue

[code]

The above code gives me this error: `TypeError: Cannot read property 'middleware' of undefined`

[2017-11-21 15:18] codejockie opened #207 "Typo in some sections of the docs"
There are various typos in some sections of the docs at [Adonis Docs](https://adonisjs.com/docs/4.0).
I wouldn't mind correcting the typos.

[2017-11-21 15:24] thetutlage commented on #207
Happy to accept the PR 😄

[2017-11-21 15:26] codejockie commented on #207
I'm guessing this repository will be where I'd be working?

[2017-11-21 15:27] codejockie commented on #207
I'd take my time to look through all the sections in the docs so I can fix appropriately.

[2017-11-21 15:34] codejockie commented on #207
One more question, are there conventions for commit messages and pull request that I need to know?

[2017-12-05 16:50] ttv20 opened #219 "Upgrading from 3.x: removal of soft delete missing"
In version 4.0 softDeletes is [no loger exist](https://forum.adonisjs.com/t/in-version-4-does-lucid-have-soft-delete-feature-like-in-version-3/169)
But in [upgrading page in the docs](https://adonisjs.com/docs/4.0/upgrade-guide) it not mention

[2017-12-06 09:07] wxs77577 commented on #180
I've create a branch `zh-4.0` for chinese translation in my repo, but there is no branch `zh-4.0` in your main repo. Could you add a branch `zh-4.0` ?

[2017-12-06 11:25] thetutlage commented on #180
Sure I will do it

[2017-12-06 11:27] thetutlage commented on #180
Or I was thinking we can create folders for each language, that way when generating docs, the automated script, will not have to switch branches.

Would you mind nested all of your docs inside `zh` directory?

[2017-12-07 02:03] wxs77577 commented on #180
@thetutlage ok, I think it's better than use a new branch.

[2017-12-07 02:03] #180 closed

[2017-12-12 18:08] ntvsx193 opened #227 "Add docs for Config.set()"
Issue make from https://forum.adonisjs.com/t/config-set-method/479

[2017-12-13 08:38] #227 closed

[2017-12-13 11:11] ntvsx193 opened #230 "Add docs for switchLocale in view"
Issue make from https://forum.adonisjs.com/t/antl-view-with-user-locale/462/6

[2017-12-14 09:13] thetutlage commented on #230
I don't think this has to be the part of docs. The `antl` object is shared with view and that means all methods can be called inside view and not only `switchLocale`.

Also I will never never views to mutate state, this is literally the worst way to do something. One should call `antl.switchLocale` inside controller and then render the view.

[2017-12-14 10:09] ntvsx193 commented on #230
Can you write example code for usage with switchLocale for view in controller?

[2017-12-14 11:36] thetutlage commented on #230
[code]

NOTE: The `antl` instance is shared with controller and the view you will render from that controller.

[2017-12-14 11:46] ntvsx193 commented on #230
Wow! It is great! I think otherwise :)
I am add this to docs

[2017-12-14 11:49] thetutlage commented on #178
Closing since not actionable

[2017-12-14 11:49] #178 closed

[2017-12-14 11:52] thetutlage commented on #230
I will not, since one thing leads to other. If method `a` is documented, then why not `b`, which will end up in duplicated docs everywhere.

[2017-12-14 12:33] ntvsx193 commented on #230
Okay, i'm found now in docs

http://adonisjs.com/docs/4.0/internationalization#_context_instance

But it's not explicitly indicated.
See new changes from PR

[2017-12-19 21:38] edDimensi opened #238 "Add arrow up in docs."
First time i needed so hard in docs 'arrow up' on site :) Need it for easy return on start document.
Please. Thx in advance.

[2017-12-21 13:28] thetutlage commented on #238
Cool, will add it

[2018-01-06 10:00] thetutlage commented on #207
Closing since no response from the issue reporter and not actionable as well

[2018-01-06 10:00] #207 closed

[2018-01-07 08:36] #230 closed

[2018-01-25 08:02] #238 closed

[2018-02-16 22:34] RomainLanz commented on #219
Hey @ttv20! 👋

Mind sharing a PR for this?

[2018-03-07 14:12] RaymondLC92 opened #254 "Typo in Authentication"
https://adonisjs.com/docs/4.1/authentication

loginViaId(id)

Should be:

loginVaIid(id)

[2018-03-07 14:50] RomainLanz commented on #254
Could you create a PR please?

[2018-03-12 05:10] antwaanvh commented on #254
Hi,

I do not think there is a typo here. The docs state the method `loginViaId()`, read `login_via_id`, should:

[2018-03-12 05:17] RaymondLC92 commented on #254
I think you're correct.

The font just confused me I suppose.

On Mar 12, 2018 12:10 AM, "Antwaan Harrison" <notifications@github.com>
wrote:

[2018-03-12 15:52] #254 closed

[2018-03-19 10:53] keeross opened #258 "View Presenters"
Should we add some docs on on view presenters? It is a pretty useful thing that is not well documented at the moment.

[2018-03-21 11:07] thetutlage commented on #258
They are covered in the edge docs http://edge.adonisjs.com/docs/presenters

[2018-03-22 12:45] keeross commented on #258
Yes, but there is no default view presenter example, you have to watch full video in order to get it.
I think it has to be in Adonis docs, as soon as it is more relevant to it, at the same time there should be `adonis make:presenter command` so people can generate them properly and know where to place them.
I can create a PR into Adonis or Edge with command and docs.

[2018-03-26 20:36] Goopil opened #260 "wrong require in websocket wit cluster section"
Hello guys, first a big thanks for your hard work ! trully a marvellous tool you have build there.

There is a small error in the doc in the ws cluster section
you said to require

`require('@adonisjs/websocket-client/clusterPubSub')()`

but it should be

`require('@adonisjs/websocket/clusterPubSub')()`

Am i wrong ?

[2018-03-27 05:41] thetutlage commented on #260
Mind sharing a PR please?

[2018-03-27 18:26] #260 closed

[2018-04-08 20:42] nickelghost opened #263 "Upgrade to webpack 4"
The "managing frontend assets" recipe contains config that is incompatible with the latest webpack 4. I already created a pull request with a fix that explicitly downloads webpack 3 instead of webpack 4, but I think that eventually, the guide should use the latest webpack.

[2018-04-25 09:41] RandallFlagg opened #267 "Error in the view documantaion"
Hi,

In the documentation on the adonisjs.com site at version 4.1 it is not clear where to put the global code.

At the Extending Views section the following is written:

    Since the code to extend the View needs to be executed once, you can make use of providers or ignitor hooks. Make sure to read how to extend guide before continuing.

but the link is pointing to the Views page when expected t

[2018-04-25 10:30] Purexo opened #269 "Add a local installation section"
Hello, I propose a new adonis installation section for those who don't want global adonis binary:

prerequisites: npx

[code]

I also suggest adding a `--local` flag to the `new` command of adonis that would add the `npm install --save-dev @adonisjs/cli` command to the installation process
And modify in the end message `adonis serve --dev` by `npx adonis serve --dev`

[2018-05-04 16:01] thetutlage commented on #269
I don’t see any benefit in this

[2018-05-04 16:15] Purexo commented on #269
Many person didn't like use of global package (sometimes you need different version of same package for some project)

In my experience, it's simplier and recommended to use project dev-dependencies instead global package. Some times you are in an environment where you just can't install global package because you are not admin.

And global package pollute your global binaries and don't need them

[2018-05-04 16:41] thetutlage commented on #269
Yes but adonis cli doesn’t stops you from doing what are planning to do.

Why it has to be the part of the official docs?

[2018-05-17 07:43] drmzio opened #272 "Bring back Response methods"
Had to view v3.2 docs to see which response methods were available. More specifically, how to return a response with a 400 status code for when Validation fails. Any reason why these aren't there anymore?

Response methods: https://adonisjs.com/docs/3.2/response#_response_methods

[2018-05-18 01:15] antwaanvh commented on #272
Hi @drmzio,

Is this what you're looking for?
[code]

If so, check [this](https://github.com/poppinss/node-res/blob/develop/methods.js) out.

Hope it helps.

[2018-05-28 19:52] antwaanvh commented on #272
@drmzio did this help?

[2018-05-29 02:43] thetutlage commented on #272
Closing since no response from the issue reporter and not actionable as well

[2018-05-29 02:43] #272 closed

[2018-06-04 17:19] johnpyp opened #273 "Flesh out the docs on adonis-ally"
I recently started with adonis, and there first thing I wanted to do was get some kind of social authentication going, and there were a few pain points that took me a while to solve and I think would be valuable additions to the social auth docs.

1) I think it would be useful to go over specifically what you need to setup your database to handle user authentication. A basic review covering just t

[2018-06-04 17:32] johnpyp commented on #269
I agree with Purexo here. Just because something is not necessarily important to framework specifically doesn't mean it isn't valuable to add it to the docs. There is very little cost to adding sections or subsections to the docs, and I don't think this really bloats the docs up at all.

[2018-06-04 17:34] johnpyp opened #274 "Add an independent scrollbar for the sidebar"
Similar to the behaviour of https://vuejs.org/v2/guide/ , a side scrollbar independent of the main one would make navigating the docs a lot easier.

[2018-06-04 17:41] johnpyp opened #275 "Add Example for Routing with a Public Path"
Looking for a way to serve my vue dist directory as the wildcard route, I came across this post:
https://forum.adonisjs.com/t/vue-js-spa-within-adonis-js/363/3

I would be nice to have an example like this (as in the post):
`const Helpers = use(‘Helpers’)`
`Route.any('*', ({response}) => response.download(Helpers.publicPath('main.html')))`

This fits for the main ways of creating react and vue fro

[2018-06-04 18:15] Purexo commented on #269
Why not. I think it can be more enjoyable for futur Adonis users to avoid manual installation of Adonis binary for starting a project.

If you accept this suggestion, I code it and pr on doc and adonis/cli with supervision of @RomainLanz ;-)

[2018-06-05 08:18] thetutlage commented on #269
@Purexo

How Adonis can be more enjoyable if you install the cli inside your project repo? This seems to be weirdest argument I have ever heard.

Let's take the profile of 2 developers who are reading the docs.

## Beginner
The beginner user will have questions like?

1. Why there are 2 ways to install the cli?
2. Which one is better?
3. Why `adonis serve` etc commands do not work (if he/she insta

[2018-06-05 08:18] #269 closed

[2018-06-05 08:20] thetutlage commented on #275
Create a PR for docs please

[2018-06-05 08:20] #275 closed

[2018-06-05 08:20] thetutlage commented on #274
PR welcomed

[2018-06-05 08:20] #274 closed

[2018-06-05 15:45] johnpyp commented on #274
I've attempted this here: https://github.com/johnpyp/adonisjs.com/commit/6ad54fbcf454286198273b91bfb771be5638bca9 , though it isn't very polished because I didn't want to change a lot of the structure to make it smooth.

[2018-06-27 13:54] devalexandre opened #281 "Translate to pt-BR"
how I could help in translate?

[2018-07-09 16:53] giacomocerquone opened #284 "Typo in "distributing as a package" section of doc?"
Hi all. I started looking at AdonisJs just yesterday and I think I might have found a typo: https://adonisjs.com/docs/4.1/service-providers#_distributing_as_a_package

In the distributing section there is written

but then in the code, if I understand the code correctly, you define it as `Bee/Queue`

[code]

If I'm not wrong, please let me issue a pr :)

[2018-07-10 08:34] thetutlage commented on #284
Yup, seems like a typo. It should be `Adonis/Addons/Queue` inside the code example. I will be happy to accept a PR for same

[2018-08-09 08:20] erikkallen commented on #263
My pull request should include the changes needed for webpack 4

[2018-08-14 05:17] #263 closed

[2018-09-06 09:07] #284 closed

[2018-09-28 18:47] RomainLanz commented on #190
Handled here https://github.com/adonisjs/docs/pull/298

[2018-09-29 15:02] #190 closed

[2018-10-11 09:56] karl-roberts opened #310 "Testing overview references incorrect form submit function"
Line 9 of the code snippet found here: [here](https://adonisjs.com/docs/4.1/testing#_functional_tests) references `page.submit()` whereas the correct function is `page.submitForm()` found [here](https://adonisjs.com/docs/4.1/browser-tests#_submitformselector)

@computamike fyi

[2018-10-14 02:10] diogenesdauster commented on #281
Hi, I can translate if you want, but I need a little time.

[2018-10-17 09:52] #310 closed

[2018-10-19 23:04] jakesyl opened #316 "Client Side Javascript Package Versioning"
I was opening up a PR to update the documentation around adonisjs/adonis-websocket-client#53 when I had a thought about the client-side API documentation. Let's say I'm using Adonis 4.1 and follow the [documentation](https://adonisjs.com/docs/4.1/websocket-client) and run `npm i @adonisjs/websocket-client`. Adonis 4.2 is then released and `@adonisjs/websocket-client` continues to be updated. I'll

[2018-10-19 23:13] jakesyl commented on #316
adonisjs/docs#317 adds documentation to `4.1` and should be merged if this is merged

[2018-10-20 08:12] thetutlage commented on #316
More is covered on same here https://github.com/adonisjs/rfcs/issues/12. Join the discussion if you have additional questions

[2018-10-20 14:49] jakesyl commented on #316
@thetutlage  I still think this is a different issue (want to keep adonisjs/rfcs#12 germane). I'm mainly dealing with how we tell users in the documentation that their client side packages for things like websockets are compatible with their server side packages of websockets. That's also why I opened up the issue in docs vs discussion. Should I still bring this over to adonisjs/rfcs#12

[2018-10-21 08:07] thetutlage commented on #316
@jakesyl Okay I get it

There are couple of ways to go about it

1. Keep the versioning of client side counter parts in sync. For example: If `@adonisjs/websocket` is on `2.0.0`, then client will also be on `2.0.0`. This does comes with some overhead, where if there is only change in the server code, we will have to bump the client version no reasons.

2. Another option is to leave it to documenta

[2018-10-21 19:08] jakesyl commented on #316
I think `1` might be less confusing but definitely adds some overhead (might be able to tackle this via a bot). Adding it to the documentation would definitely be a lot easier.

[2018-10-21 19:29] thetutlage commented on #316
Yeah I believe, we should let the versions grow independently. There will be a time, when I will write clients for `vue`, `react` and someone can contribute for `Android`, `iOS` too.

Documenting them within the documentation is the best way to go \

[2018-11-01 08:36] thetutlage commented on #316
Yeah true, table doesn't make much sense. We can add the version to the docs for now. Can you share a PR for same?

[2018-12-28 23:12] MZanggl opened #331 "whereExists example from docs not working"
https://adonisjs.com/docs/4.1/query-builder#_whereexists
The example for `whereExists` goes like this
[code]

But this has the following output
[code]
As you can see, it puts single quotes around `accounts.user_id` so it looks for records where `users.id` is literally `accounts.user_id`.

If you look at Laravel's `whereExists` example they actually use a `whereRaw` here. https://laravel.com/docs/5

[2019-02-16 09:20] ekorolev opened #342 "There is a bug in WebSockets/ClientAPI"
https://adonisjs.com/docs/4.1/websocket-client#_offevent_callback

It's a bug. I try to use the method channel.off( listener_function ) and catch an error "eventName must be a string". Then I retry with "channel.off( evenName_string, listener_function )" and it's done.

[2019-02-22 08:39] RomainLanz commented on #342
Hey @ekorolev! 👋

Could you please create a repository with the minimum amount of code to reproduce the issue?

[2019-02-22 09:12] ekorolev commented on #342
No, I haven't any bugs with AdonisJs, instead AdonisJs Documentation has a wrong information. I provided the link (https://adonisjs.com/docs/4.1/websocket-client#_offevent_callback) to the part of documentation which has a wrong info. There are a line number 4 in the code example:

[code]

Instead "chat.off(messageHandler)" there should be "chat.off('message', messageHandler)" to be correct.

[2019-02-22 15:59] RomainLanz commented on #342
Oops, may you create a PR? 😄

[2019-02-23 09:09] ekorolev commented on #342
Yes, sure :)

[2019-02-28 08:23] RomainLanz commented on #342
Closing in favor of the PR.

[2019-02-28 08:23] #342 closed, assigned to RomainLanz

[2019-03-08 15:37] begueradj opened #353 "Extending Response example has an error"
Could you please fix the example you provided in the documentation about [Extending Response](https://adonisjs.com/docs/4.1/response#_extending_response) ?

In my application, I need to extend the Response class. I did it successfully (I get **true** in `console.log(Response.hasMacro('sendStatus'))` ). But I always get a 500 HTTP code error when testing or navigating to that endpoint because the e

[2019-03-08 19:58] RomainLanz commented on #353
Hey @begueradj! 👋

The example is perfectly fine. Also, it's normal to not use an arrow function since we want `this` to be correctly bound.

[2019-03-08 21:01] begueradj commented on #353
Indded, I shared the wrong link, that is why the example above works (different from what I shared in my repo). [Here](https://adonisjs.com/docs/4.1/extending-adonisjs#_adding_macrosgetters) is the concerned typo in the documentation. I sent you a pull request.
Thank you for the help.

[2019-03-08 21:01] #353 closed, assigned to RomainLanz

[2019-03-25 19:51] HigoRibeiro opened #359 "Extending Providers example error"
Today I was asked to help someone in need of authentication with `Ad` (Active Directory) and I indicated the AdonisJS documentation ([Extending Providers](https://adonisjs.com/docs/4.1/extending-adonisjs#_extending_providers)) that shows how to do this and I came across what I considered an error:
- In the example it shows that we should use `hooks.after`, but I understand that` hooks.before` shou

[2019-05-30 02:55] lucasstoller opened #362 "Could I help to translate It to Brazilian Portuguese?"
It would be very nice to translate the doc to Brazilian Portuguese. It would help to increase adonis popularity in Brazil and between Brazilian developers.

[2019-05-31 08:49] RomainLanz commented on #362
Hey @lucasstoller! 👋

This would be awesome, a complete rewrite of the documentation is planned for V5 and a new process to help us translate the documentation will be shared.

I keep this open and will close it once the process is shared. 👍

[2019-06-25 19:23] mritgupta opened #364 "404 page not found error on link"
This URL 'https://github.com/adonisjs/adonis-bodyparser/blob/develop/src/Multipart/File.js' showing 404.

Url palced there 'https://adonisjs.com/docs/4.1/file-uploads#_route_validators'

[2019-06-30 07:47] RomainLanz commented on #364
Hey @mritgupta! 👋

Happy to accept a PR if you want to correct this. 🤗

[2019-07-08 06:58] agtabesh commented on #364
I created a pull request to correct this [#366 ](https://github.com/adonisjs/docs/pull/366)

[2019-08-25 18:11] McSneaky opened #371 "Document Static Middleware"
Currently `'Adonis/Middleware/Static',` is documented only under `middelware` section of documentation. https://adonisjs.com/docs/4.1/middleware#_server_middleware

I think it should be also noted under [file uploads](https://adonisjs.com/docs/4.1/file-uploads) or [file storage](https://adonisjs.com/docs/4.1/file-system) sections.

It is really inconvenient and little bit illogical that you need t

[2019-08-26 05:58] thetutlage commented on #371
I don't think, this should really go under `file uploads`, since I do not recommend uploading files to `public` folder directly.

I believe having a new document that talks about `public files` and mentioning the middleware there is a good choice. What you think?

[2019-08-26 06:03] McSneaky commented on #371
I'd also like to +1 Romains point ([in Discord](https://discordapp.com/channels/423256550564691970/423263695804563456/615278321856544789)), that should suggest using CDN / proxy like Nginx etc to serve static files somewhere in documentation.

Seems like good idea 👍

[2019-08-26 06:04] thetutlage commented on #371
Yup, happy to recommend that. Mind doing a PR with the initial doc?

[2019-08-26 06:17] McSneaky commented on #371
Sure, will file it in after work

[2019-08-31 18:12] Nikeweke opened #374 "Views: paragraph has "css" example that doesnt work"
https://adonisjs.com/docs/4.0/views

Here is example how to use "css" in edge but it doesnt work. But works "style" function, is it ok?

[2019-09-01 05:41] thetutlage commented on #374
You are seeing docs of an older version.https://adonisjs.com/docs/4.1/views#_style

[2019-09-01 05:41] #374 closed, assigned to nobody

[2019-09-23 16:37] backspacerhino commented on #359
I would like to extend on this problem with a more concrete example with core code

In the documentation ([Extending providers](https://adonisjs.com/docs/4.1/extending-adonisjs#_extending_providers)) it sohuld be noted that 'Adonis/Src/Session' is actually going to call Manager from session

If we go to Manager.js in Session, or in my case Auth we get this:

`  extend (key, implementation, type) {

[2019-10-04 10:15] chirgjin opened #376 "Lucid Transactions example typo"
I recently started using adonis for my project. While checking the documentation at https://adonisjs.com/docs/4.1/lucid#_transactions I noticed that trx.rollback should be a function call and is missing the parenthesis () in the example
![image](https://user-images.githubusercontent.com/5507625/66200105-ef545680-e6bd-11e9-924e-d75b154358a6.png)

Assign it to me & Will create a pull request to fix

[2019-10-04 10:26] thetutlage commented on #376
Indeed :). Thanks for the PR

[2019-10-04 10:26] #376 closed, assigned to nobody

[2019-10-10 11:15] muhammedkoca003 opened #379 "Typo"
Hi guys,

I think you made a typo in

https://adonisjs.com/docs/4.1/query-builder

[code]

shouldn't this be:
.innerJoin('accounts', **'users.id'** , 'accounts.user_id') ?

[2019-10-10 23:33] kswope opened #389 "getId() not documented"
unlike getName(), getEmail(), etc

getId() is not documented.

Confused because this seems like the most important identifier.

[2019-10-23 14:42] baybal opened #383 "Lucid transactions: specify each method supporting transaction"
Current wording "The majority of Lucid methods support transactions." is not detailed enough. Specify each method that does support transaction.

[2019-10-23 14:44] baybal opened #384 "Lucid: specify return values of each method"
Current documentation does not describe what exactly each Lucid model method returns. The examples imply that, but that needs to be specified.

[2019-10-23 14:50] baybal opened #385 "Transactions in Relationships: specify behaviour of methods other than attach and detach"
Documentation must state that relationship methods other than attach and detach not work with transactions, like  `model.relationshipModel().create({ number: 1 }, trx)` or  `model.relationshipModel().delete(trx)`

[2019-10-27 23:15] MZanggl opened #386 "Make testing more accessible (database layer)"
Testing with Adonis is amazingly simple, however, the docs are not really explaining much about its capabilities. The only reason I know of them is because I have experience working with Laravel and watched Laracasts.
But testing Adonis shouldn't require prior knowledge in a framework from a different language that is only really taught in a course behind a paywall.

Only because of my prior knowl

[2019-11-07 10:00] ndragun92 opened #388 "Paginate doesn't work with groupBy same as in Laravel"
## Paginate doesn't work with groupBy same as in Laravel (Total Records)

## Message from Laravel

## Example

[code]
## Result

[code]

[2019-12-20 09:35] fians commented on #379
@muhammedkoca003 Just want to let you know that it has been fixed here #391, however it seems the changes has not reflected on the site yet.

[2019-12-20 12:38] RomainLanz commented on #379
Closing!

[2019-12-20 12:38] #379 closed, assigned to nobody

[2020-01-25 23:01] Sourtoast opened #399 "Missing point for validator documentation"
I was trying to find how can I force validator to validate all fields at once instead of returning on first fail when using on route I found it [here](https://forum.adonisjs.com/t/use-validateall-in-route-validator/710/9#post_10) I think it should be added to documentation

https://github.com/adonisjs/docs/blob/4.1/04-Basics/08-Validation.adoc

[2020-04-10 13:35] LeCoupa opened #401 "Where is the documentation for preview.adonisjs.com?"
I would like to make some improvements with a PR. :)

[2020-04-11 15:05] RomainLanz commented on #401
Hey @LeCoupa! 👋

Everything is stored here: https://github.com/adonisjs/adonisjs.com/
You can also check the devtools while being on the website to have the information. 😛

[2020-04-11 15:21] LeCoupa commented on #401
Thank you @RomainLanz :)

[2020-04-11 15:21] #401 closed, assigned to RomainLanz

[2020-04-16 15:58] andrewwippler opened #404 "More seeder examples needed"
I am new to adonisjs (while not necessarily new to MVCs) and I found it difficult to seed a many-to-many relationship. (i.e. it took me over 24 hours to get the answer).

The error I was getting was:
[code]
I was defining my seeder as the following to get the issue:
[code]

The solution (to specify id) was found on issue adonisjs/lucid#178 -
[code]

So I propose adding to the seeder documentation

[2020-04-30 15:48] prondubuisi opened #406 "AdonisJS seeder and factory documentation does not point to faker Library used"
I have been going through AdonisJS documentation for seed and factories https://adonisjs.com/docs/4.0/seeds-and-factories and I am trying to use more faker methods, but there is no pointer to the faker Library used. I think this would be a necessary inclusion to the documentation.

I will be very happy to add the faker library link to the documentation(I am looking to contribute), once anyone can

[2020-04-30 15:51] prondubuisi commented on #406
Looked through the node_modules folder and I think its chance.js https://github.com/chancejs/chancejs

[2020-07-01 06:37] #406 closed, assigned to nobody

[2020-07-15 15:22] lukaszflorczak commented on #331
The working example should looks like this:

[code]

[2020-08-15 20:24] alanondra opened #410 "Missing rendering Views from Controller documentation"
I had to go to [Form Submissions / Reading Form Data](https://preview.adonisjs.com/guides/http/form-submissions#reading-form-data) to see how to render Views from Controllers. It should probably be included in both View and Controller documentation.

[2020-08-16 04:16] thetutlage commented on #410
Shouldn't you simply check views docs to see how to render views? https://preview.adonisjs.com/guides/views/introduction#usage

[2020-08-16 12:21] alanondra commented on #410
Can you highlight the part where it says `view` needs to be imported from `HttpContextContract` in the Controller method signature? Perhaps where `HttpContextContract` needs to be imported from?

[2020-08-16 12:36] thetutlage commented on #410
Well, not sure what exactly you are upto.

Copy/paste the following code in routes file and it will work without any modifications

![20200816_180253.jpg](https://user-images.githubusercontent.com/1706381/90334381-e70dbd00-dfea-11ea-919a-3821d504d015.jpg)

When you create a new controller using `node ace make:controller` command. It does import the `HttpContextContract` for you.

So just like the

[2020-08-16 15:23] alanondra commented on #410
There is no indication on the page that you have to create this signature to use it with Controllers, merely passing `{ view }` throws an exception:

[code]

I'm telling you _as a user_ that the documentation was not clear and there was no way to intuit that this was necessary, otherwise this ticket wouldn't have been created.

[2020-08-28 13:41] ghost opened #411 "How to Help?"
Hello guys, I would like to better understand this project and how it works and how I could help you in the development.

[2020-11-22 11:43] Caleb-T-Owens opened #415 "Possibly incorrect or missleading wording"
Under detach in the documentation https://adonisjs.com/docs/4.0/relationships#_detach for using the detach method without an argument, it says "The `detach` method is the opposite of the `attach` method, and it removes the relationship from the pivot table only." which implies that its only removing one relation when in reality, it removed all the relations IE, in the example its going to detach a

[2021-01-11 10:35] tafadzwagonera opened #417 "TypeError: Cannot read property 'assertError' of undefined when running functional test example in the docs"
I discovered that running the functional test example https://adonisjs.com/docs/4.1/testing#_functional_tests emits a `TypeError` on the `page.session` object which goes away if you include `trait('Test/Session')` I suggest adding `trait('Test/Session')` to the example to bring in the session and resolve the problem with `assertError` method getting called on `undefined`

[2021-01-11 10:58] tafadzwagonera opened #418 "Challenges with running test case examples due to missing implementation"
Sometimes the examples in the docs aren't easy to run due to missing implementation. A point in case would be https://adonisjs.com/docs/4.1/testing#_unit_tests Suppose a reader lands on this section but needs to run an example with minimal understanding about the validation module they wouldn't know how to do that without a `UserValidator` implementation. To run the example in that section they're

[2021-01-11 12:46] thetutlage commented on #417
Feel free to share a PR for the same 🙂

[2021-01-12 14:57] tafadzwagonera commented on #417
Hi Harminder,

Sure thing. I'm on it! Check out https://github.com/adonisjs/docs/pull/419

Regards

On Mon, Jan 11, 2021, 2:47 PM Harminder Virk <notifications@github.com>
wrote:

[2021-01-12 15:28] tafadzwagonera commented on #417
https://github.com/adonisjs/docs/pull/419

[2021-01-15 04:35] #417 closed, assigned to nobody

[2021-03-01 15:09] #316 closed

[2021-03-16 21:07] ArashYounesi opened #420 "adonis make:model -m does not make migration name in plural form"

[2021-03-17 10:01] thetutlage commented on #420
Issue doesn't adhere to the guidelines of creating a proper issue.

1. Make sure that you are only reporting bugs or submitting feature requests on Github.
2. In case of feature requests, please be descriptive and explain how this feature helps a broader audience and not just you.

If you are not submitting a bug and neither a feature request, then please use the [discussion threads](https://githu

[2021-03-17 10:01] #420 closed, assigned to thetutlage

[2021-05-06 04:36] benknight opened #422 "Set up redirects to legacy docs"
For example, https://adonisjs.com/docs/4.1/query-builder should 301 to https://legacy.adonisjs.com/docs/4.1/query-builder

[2021-05-06 21:40] LeCoupa opened #423 "Incomplete sentence"
The sentence seems incomplete here

https://docs.adonisjs.com/guides/routing

[2021-09-27 14:43] thetutlage commented on #422
Fixed already. Sorry, there was some links mess up during the launch.

[2021-09-27 14:43] #422 closed, assigned to nobody